@font-face{font-family:'NEXON'; src:url('../../font/NEXON Football Gothic B.otf')}
@font-face{font-family:'NEXON'; src:url('../../font/NEXON Football Gothic L.otf')}



html { 
  overflow-y:scroll;
}


body,table,div,p {
  font-family:'NEXON';
}


a {
  color: #00B7FF;
}

